<%- include("includes/head.ejs") %>

</head>

<%- include("includes/top-navbar.ejs") %>

<% if(posts.length === 0) { %>
    <h1>No posts</h1>
<% } else { %>
    <ul>
    <% for (const post of posts) {%>
        <%- include("includes/post.ejs", {post}) %>
    <% } %>
    </ul>
<% } %>

<%- include("includes/bottom-navbar.ejs") %>

</body>
</html>