<li>
    <div class="post">
        <div class="top-of-post">
            <div class="profile-picture"></div>
            <div class="profile-name"></div>
        </div>
        <div class="image-post"></div>
        <ul class="post-toolbar">
            <li class="like"></li>
            <li class="comment"></li>
            <li class="share"></li>
        </ul>
        <div class="post-likes">
            <div class="profile-like"></div>
            <p>Liked by <b>amir_karacic</b> and <b>flip-flop others</b></p>
        </div>
        <div class="comments">
            <p class="gray">View all 69 comments</p>
        </div>
    </div>
</li>